.bottom-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #232526;
    padding: 10px 0;
    position: fixed;
    align-items: center;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.nav-button {
    color: #FFD700;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-button:hover {
    color: #e0b800;
}
.nav-icon {
    margin-right: 5px; /* Space between icon and text */
    font-size: 20px; /* Icon size */
}

/* Optional: Add a separator for visual distinction */
.separator {
    width: 1px;
    height: 30px; /* Adjust height as needed */
    background-color: #ccc; /* Change to your desired color */
    margin: 0 10px; /* Space around the separator */
}
